* {
	margin: 0;
	padding: 0;
	font-family: Arial;
  }
  
  
  body {
	height: 2700px;
	overflow-x: hidden;
  }
  
  /*============================================================================*/
  /*=============================Banner section=================================*/
  /*============================================================================*/
  header {
	background-color: rgb(0, 106, 80); //changable main colour
	height: 20px;
	width: 100%;
	padding-bottom: 30px;
	position: sticky;
	background-size: height 50px;
	background-position: center;
  }
  
  .logo {
	left: 50px;
	height: 70px;
	width: 70px;
  }
  
  .logo img {
	height: 100%;
	width: 100%;
  }
  
  /*==========================Navigation Bar Section============================*/
  ul {
	float: left;
	padding-left: 160px;
	list-style-type: none;
  }
  
  /*====================Navigation Bar Individual Button========================*/
  ul li {
	display: inline-block;
	padding-right: 2px;
  }
  
  ul li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	border: none;
	transition: 0.6s ease;
  }
  
  /*======================Navigation Bar Hovering Status========================*/
  ul li a:hover {
	background-color: #fff;
	color: #000;
  }
  
  ul li.active a {
	background-color: #fff;
	color: #000;
  }
  
  .search-box {
	position: absolute;
	background: none;
	transform: translate(-50%, -50%);
	height: 20px;
	border: none;
	padding-left: 250px;
  }
  
  /*========================Hover to Expand Function============================*/
  .search-box:hover>.search-txt {
	width: 240px;
	padding: 0 6px;
  }
  
  .search-btn {
	color: white;
	float: right;
	width: 10px;
	height: 10px;
	border: none;
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  /*==========================Search Bar Text Area==============================*/
  .search-txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 20px;
	width: 0px; //width is 0, will expand on hover
  }
  
  /*============================================================================*/
  /*============================Gallery Slideshow===============================*/
  /*============================================================================*/
  .Navigation {
	position: absolute;
	top: 580px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
  }
  
  .bar {
	position: center;
	width: 50px;
	height: 10px;
	border: 2px solid #fff;
	margin: 6px;
	margin: 6px;
	cursor: pointer;
	transition: 0.4s;
  }
  
  .bar:hover {
	background: #fff; //Make the block turn white when hovering over it
  }
  
  input[name="r"] {
	position: absolute;
	visibility: hidden;
  }
  
  /*============================The Gallery Holder==============================*/
  .gallery_box {
	width: 100%;
	height: 600px;
	overflow: hidden;
  }
  
  /*===========================The Slides Container=============================*/
  .slide_container {
	width: 500%;
	height: 100%;
	overflow: hidden;
	display: flex;
  }
  
  /*=============================The Image Holder===============================*/
  .image_holder {
	width: 20%;
	transition: 0.6s;
  }
  
  .image_holder img {
	height: 100%;
	width: 100%;
  }
  
  #r1:checked~.s1 {
	margin-left: 0;
	position: center;
  }
  
  #r2:checked~.s1 {
	margin-left: -20%;
  }
  
  #r1:checked~.s1 {
	margin-left: -40%;
  }
  
  /*============================================================================*/
  /*==========================About Us Section==================================*/
  /*============================================================================*/
  .about_US_Container {
	height: 600px;
	width: 100%;
	background-color: transparent;
	overflow: hidden;
  }
  
  .HexagonMain {
	height: 100%;
	width: 63%;
	background-color: transparent;
	overflow: hidden;
  }
  
  /*===============================White Space==================================*/
  /*----------------------------------------------------------------------------*/
  /*--------------------------------Hexagon #1----------------------------------*/
  /*----------------------------------------------------------------------------*/
  .hex1Contain {
	visibility: hidden;
	overflow: hidden;
	margin-top: 10px;
	position: relative;
	top: -210px;
	left: -300px;
  }
  
  .hex1 {
	width: 250px;
	height: 350px;
	background-color: #1f1f1f;
	transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	margin: 200px auto;
	overflow: hidden;
	visibility: hidden;
  }
  
  .hex1Inside {
	width: 100%;
	height: 100%;
	background: transparent;
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	overflow: hidden;
	visibility: hidden;
  }
  
  .hex1Image {
	width: 100%;
	height: 100%;
	background-image: url(https://www.stcuthbertshospice.com/userfiles/images/IMG_4413.JPG);
	background-position: center;
	background-size: 183% 100%;
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	visibility: visible;
  }
  
  /*----------------------------------------------------------------------------*/
  /*--------------------------------Hexagon #2----------------------------------*/
  /*----------------------------------------------------------------------------*/
  .hex2Contain {
	visibility: hidden;
	overflow: hidden;
	margin-top: 10px;
	position: relative;
	top: -970px;
	left: -30px;
  }
  
  .hex2 {
	width: 250px;
	height: 350px;
	background-color: #1f1f1f;
	transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	margin: 200px auto;
	overflow: hidden;
	visibility: hidden;
  }
  
  .hex2Inside {
	width: 100%;
	height: 100%;
	background: transparent;
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	overflow: hidden;
	visibility: hidden;
  }
  
  .hex2Image {
	width: 100%;
	height: 100%;
	background-image: url(https://www.stcuthbertshospice.com/userfiles/images/Durham%20HQ.jpg);
	background-position: center;
	background-size: 183% 100%;
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	visibility: visible;
  }
  
  /*----------------------------------------------------------------------------*/
  /*--------------------------------Hexagon #3----------------------------------*/
  /*----------------------------------------------------------------------------*/
  .hex3Contain {
	visibility: hidden;
	overflow: hidden;
	margin-top: 10px;
	position: relative;
	top: -1510px;
	left: -165px;
  }
  
  .hex3 {
	width: 250px;
	height: 350px;
	background-color: #1f1f1f;
	transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	margin: 200px auto;
	overflow: hidden;
	visibility: hidden;
  }
  
  .hex3Inside {
	width: 100%;
	height: 100%;
	background: transparent;
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	overflow: hidden;
	visibility: hidden;
  }
  
  .hex3Image {
	width: 100%;
	height: 100%;
	background-image: url(https://www.stcuthbertshospice.com/userfiles/images/imgID94631720.jpg_gallery.jpg);
	background-position: center;
	background-size: 183% 100%;
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	visibility: visible;
  }
  
  /*----------------------------------------------------------------------------*/
  /*--------------------------------Hexagon #4----------------------------------*/
  /*----------------------------------------------------------------------------*/
  .hex4Contain {
	visibility: hidden;
	overflow: hidden;
	margin-top: 10px;
	position: relative;
	top: -2270px;
	left: 105px;
  }
  
  .hex4 {
	width: 250px;
	height: 350px;
	background-color: #1f1f1f;
	transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	margin: 200px auto;
	overflow: hidden;
	visibility: hidden;
  }
  
  .hex4Inside {
	width: 100%;
	height: 100%;
	background: transparent;
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	overflow: hidden;
	visibility: hidden;
  }
  
  .hex4Image {
	width: 100%;
	height: 100%;
	background-image: url(https://www.stcuthbertshospice.com/userfiles/images/WIN_20161129_14_40_29_Pro-2.jpg);
	background-position: center;
	background-size: 183% 100%;
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	visibility: visible;
  }
  
  /*----------------------------------------------------------------------------*/
  /*--------------------------------Hexagon #5----------------------------------*/
  /*----------------------------------------------------------------------------*/
  .hex5Contain {
	visibility: hidden;
	overflow: hidden;
	margin-top: 10px;
	position: relative;
	top: -3250px;
	left: 235px;
  }
  
  .hex5 {
	width: 250px;
	height: 350px;
	background-color: #1f1f1f;
	transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-webkit-transform: rotate(120deg);
	margin: 200px auto;
	overflow: hidden;
	visibility: hidden;
  }
  
  .hex5Inside {
	width: 100%;
	height: 100%;
	background: transparent;
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	overflow: hidden;
	visibility: hidden;
  }
  
  .hex5Image {
	width: 100%;
	height: 100%;
	background-image: url(https://www.stcuthbertshospice.com/userfiles/images/DSC61781-768x513.jpg);
	background-position: center;
	background-size: 183% 100%;
	transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-webkit-transform: rotate(-60deg);
	visibility: visible;
  }
  
  /*============================================================================*/
  /*=============================About Us Text==================================*/
  /*============================================================================*/
  .AboutUstextContainer {
	width: 37%;
	height: 100%;
	position: absolute;
	right: 55px;
	top: 730px;
	 line-height: 1.6;
  }
  
  .MidBanner {
	width: 100%;
	height: 400px;
	background-color: RGB(234, 232, 76);
  }
  
  .MidBanner .donate_section {
	position: absolute;
	left: 10%;
  }
  
  .donateImage img {
	top: 10%;
	height: 200px;
	width: 100px;
	object-fit: contain;
  }
  
  .donateButton {
	border: 1px outset rgb(114, 184, 194);
	background-color: rgb(0, 152, 165);
	height: 40px;
	width: 200px;
	color: white;
	cursor: pointer;
  }
  
  .donateButton:hover {
	background-color: rgb(114, 184, 194);
	color: black;
	transition: 0.3s;
  }
  
  .impact_section {
	position: absolute;
	left: 42.5%;
  }
  
  .impact_image img {
	top: 10%;
	height: 200px;
	width: 100px;
	object-fit: contain;
  }
  
  .Seebutton {
	border: 1px outset rgb(226, 81, 112);
	background-color: rgb(223, 0, 91);
	height: 40px;
	width: 250px;
	color: white;
	cursor: pointer;
  }
  
  .Seebutton:hover {
	background-color: rgb(226, 81, 112);
	color: black;
	transition: 0.3s;
  }
  
  .volunteer_section {
	position: absolute;
	left: 75%;
  }
  
  .volunteer_image img {
	left: 100px;
	height: 200px;
	width: 100px;
	object-fit: contain;
  }
  
  .Volunteerbutton {
	border: 1px outset rgb(246, 172, 73);
	background-color: rgb(241, 145, 45);
	height: 40px;
	width: 250px;
	cursor: pointer;
	color: white;
  }
  
  .Volunteerbutton:hover {
	background-color: rgb(246, 172, 73);
	color: black;
	transition: 0.3s;
  }
  
  .About_Us_Section2 {
	width: 100%;
	height: 700px;
  }
  
  .about2Background {
	position: relative;
	width: 100%;
	height: 100%;
  
  }
  
  .about2BackgroundInner {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  }
  
  .About2Picture_Container {
	position: absolute;
	width: 300px;
	height: 450px;
	top: 33%;
	left: 60%;
  }
  
  .About2Picture_Container img {
	width: 450px;
	height: 300px;
  }
  
  .About2Text_Container {
	position: absolute;
	height: 70%;
	width: 40%;
	overflow: hidden;
	top: 20%;
	left: 10%;
	 line-height: 1.6;
  }
  
  
  
  
  .news_text{
	position: absolute;
	left: 38%;
  }
  
  .NewsSection{
	width: 100%;
	height: 600px;
	background-color: rgb(220,220,220);
	opacity: 0.7;
	padding: 30px;
	overflow: hidden;
  }
  
  .news1{
  position: relative;
  left: 10%;
  top: 20%;
  }
  
  .news1Text{
	position: relative;
	left: 5%;
  }
  
  .news2{
	position: relative;
	left: 40%;
	top: -20%;
  }
  
  .news2Text{
	position: relative;
	left: 4.5%;
  }
  
  .news3{
	position: relative;
	left: 75%;
	top: -60%;
  }
  
  .news3Text{
	position: relative;
	left: 5%;
  }
  
  
  .news1Picture{
	width: 200px;
	height: 200px;
  }
  
  .news1Picture:hover{
	opacity: 0.7;
	transition: 0.3s;
  }
  
  .news1Picture img{
	width: 100%;
	height: 100%;
  }
  
  .news2Picture{
	width: 200px;
	height: 200px;
  }
  
  .news2Picture:hover{
	opacity: 0.7;
	transition: 0.3s;
  }
  
  .news2Picture img{
	width: 100%;
	height: 100%;
  }
  
  .news3Picture{
	width: 200px;
	height: 200px;
  }
  
  .news3Picture:hover{
	opacity: 0.7;
	transition: 0.3s;
  }
  
  .news3Picture img{
	width: 100%;
	height: 100%;
  }
  
  .links{
	height: 200px;
	width: 100%;
	background-color: rgb(0, 106, 80);
  }
  
  .link_body{
	height: 100%;
	width: 50%;
	position: relative;
	left: 33%;
  }
  
  .aboutLink{
	opacity: 0.7;
  }
  
  .aboutLink:hover{
	opacity: 1;
	transition: 0.2s;
  }
  
  .VolunteerLink{
	opacity: 0.7;
  }
  .VolunteerLink:hover{
	opacity: 1;
	transition: 0.2s;
  }
  
  .ContactLink{
	  opacity: 0.7;
  }
  
  .ContactLink:hover{
	opacity: 1;
	transition: 0.2s;
  }
  
  .ShopLink{
	opacity: 0.7;
  }
  
  .ShopLink:hover{
	opacity: 1;
	transition: 0.2s;
  }
  .DonateLink{
	opacity: 0.7;
  }
  .DonateLink:hover{
	opacity: 1;
	transition: 0.2s;
  }
  
  .TourLink{
	opacity: 0.7;
  }
  .TourLink:hover{
	opacity: 1;
	transition: 0.2s;
  }